name: Sanity Check

on:
  pull_request:
    branches:
    - master

jobs:
  sanity-sh:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: run script
      run: ./scripts/sanity.sh
