name: Update AWS service files

on:
  push:
  workflow_dispatch:

jobs:
  macos:
    runs-on: macOS-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: Install Dependencies
      run: |
        brew install mint
        mint install nicklockwood/swiftformat
    - name: Update Models
      run: |
        ./scripts/update_models.sh -b
    - name: Create Pull Request
      id: cpr
      uses: peter-evans/create-pull-request@v3
      with:
        commit-message: 'Update models from aws-sdk-go'
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        branch: aws-sdk-go-update-models
        title: 'Update models from aws-sdk-go'
